body,html{
	padding: 0;
	margin:0;
	background-color:#facc4e;
}

.clock{
	width: 300px;
	height: 300px;
	background-color: #e1e3e2;
	margin: auto;
	margin-top: 200px;
	border-radius: 50%;
	border: 20px solid white;
	box-shadow: inset 0px 0px 2px 1px grey, 0px 0px 2px 1px gray;
	background-image: url('image/clockBG.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.clock::before{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: black;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid black;
	z-index: 4;
}

#second, #minute, #hour{
	position: absolute;
	width:100%;
	height:100%;
}


#second{
	z-index: 3;
}
#minute{
	z-index: 2;
}
#hour{
	z-index:1;
}

#second::before,#minute::before,#hour::before,#second::after{
	content: "";
	display: block;
	left: 50%;
	top:50%;
	position: absolute;
	transform: translate(-50%,-100%);
	border-radius: 10px;
}

#second::before{
	width: 1px;
	height: 120px;
	background: crimson;
}

#second::after{
	width: 1px;
	height: 30px;
	background: crimson;
    transform: translate(-50%,0);
}

#minute::before{
	width: 2px;
	height: 100px;
	background: gray;
}

#hour::before{
	width: 4px;
	height: 70px;
	background: black;
}

